@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@800&family=Poppins:wght@100;200;300;500;600;700;800;900&family=Quicksand:wght@500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Puddles&display=swap');
h1, h2, h3, h4, h5, h6, p, span, div, .MuiTypography-root.MuiTypography-h6, input, label {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}
.MuiTypography-root.MuiTypography-h6 {
  font-weight: 800;
  color: "#242423";
}
.simplebar-placeholder {
  height: 0 !important;
}

body {
  background-image: url("https://i.imgur.com/LeZMSq4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


@media screen and (max-width: 768px) {
  body {
    background-image: url("https://i.imgur.com/rfObGDT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .flip-entry {
    width: "15px !important";
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
